name: "Drift Check"

on:
#  schedule:
#    - cron: '*/15 * * * *'
 workflow_dispatch:

jobs:
  drift-check:
    secrets:
      tfc_token: ${{ secrets.TFC_TOKEN }}
    uses: G-Research/github-terraformer/.github/workflows/drift-check.yaml@gr-oss-1125-resolve-integration-id-to-source-name-part-2
    with:
      gcss_ref: gr-oss-1125-resolve-integration-id-to-source-name-part-2
      tfc_org: "GR-OSS"