name: Import single repository

on:
  workflow_dispatch:
    inputs:
      repo_name:
        description: 'The name of the repository to import'
        required: true

jobs:
  import-repo:
    uses: G-Research/github-terraformer/.github/workflows/import.yaml@gr-oss-1125-resolve-integration-id-to-source-name
    with:
      repo_name: ${{ github.event.inputs.repo_name }}
      gcss_ref: gr-oss-1125-resolve-integration-id-to-source-name
    secrets:
        app_private_key: ${{ secrets.APP_PRIVATE_KEY }}